SESSION_SECRET=replace_with_at_least_32_random_characters
FASTAPI_BASE_URL=http://127.0.0.1:8000
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_SEPOLIA_PRIVATE_KEY=0xYOUR_FUNDED_PRIVATE_KEY
CLAMP_AUDIT_ADDRESS=0xYOUR_DEPLOYED_CLAMP_AUDIT
